{% extends 'base.html.twig' %}

{% block body %}
    <h1>Job</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gegevens.job.id }}</td>
            </tr>
            <tr>
                <th>Namejob</th>
                <td>{{ gegevens.job.namejob }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{gegevens.job.adres }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{gegevens.codpost }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{gegevens.codnaam}}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a  class="btn btn-default btn-sm" href="{{ path('job_index') }}">Back to the list</a>
        </li>
        <li>
            <a  class="btn btn-default btn-sm"  href="{{ path('job_edit', { 'id': gegevens.job.id }) }}">Edit</a>
        </li>
        <li>
            <p> </p>
            {{ form_start(delete_form) }}
                <input  class="btn btn-default btn-sm" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
